.picture-grid {
  display: grid;
  grid-template-columns: 1fr minmax(340px, 800px) 1fr;
  z-index: -1;

  .pictureBox {
    min-height: 100vh;
    grid-column: 2;
    overflow: visible;
  }

  .sun {
    transform-origin: '50% 50%';
  }

  .item {
    display: grid;
    grid-template-columns: 1fr minmax(340px, 800px) 1fr;
    grid-column: 1 / 4;
    grid-row: 2;
    background-color: #b9b9b9;

    p {
      grid-column: 2;
    }
  }
}
