
extends ../templates/head.pug

block head 
  meta(name='description' content='get lost in pictures')

  link(rel='stylesheet' type='text/css' href='./src/css/picture.css')
  script(defer type='module' src='./src/js/picture.js')

  title More than a picture

block content

  .picture-grid 

    svg.pictureBox(xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 800 1040')
      path.sky(fill='#90C0DB' d='M-747-247h2312V863H-747z')

      g.far
        path(fill='#D8D8D8' d='M308 348c66 16 79 12 93 0 8-2 14-4 24-11l16 17c13 11 20 13 34 9l11-9 20 9 85-15 321-80 667 420v586l-2358 13V298l1087 50z')
        path(fill='#B9B9B9' d='M272 324l-77-41-38 41-208-159c-5-38-18-62-45-106 0 22 0 68-11 49l-34 44-653 204v889h2387V554H565L399 448l-36-25-43-39-16-28-26-17-6-15z')

      g.mid
        path(fill='#689C89' d='M390 440c-15 17-65 45-68 54-103 2-66-91-141-65-37 15-52 89-116-42-46-58-616-8-766 11l18 825 2267-18V440c-17-2-867-301-904-289-10 0-21 11-40 30l-2 2c-24 16-35 27-52 46-43 31-49 38-86 67-18 8-28 19-49 41l-33 29v9l-26 38c-12 18-8 9-2 27z')
        path(fill='#588D7A' d='M706 309l874 166v740H-752V602l1168-67 16-15 19-31 26-45 76-34 64-49 47-31 42-21z')
        path(fill='#68EDFF' d='M389 526c-45-7-57-19-67-32l-16-1c0 13-134-4-179 29-18 13 76 40 100 40 32 0 110 3 119-4 23-16 70-23 70-23s9-4-27-9z')

      g.front
        path(fill='#68EDFF' d='M379 557L24 570v-25l370-7c4-2 181 72 137 83-21 1-117 24-159 34-41 11 167 42 125 97-43 55-313 377-318 360h-954L249 833c106-41 61-93-18-153-11-23 30 3 30-25 21-40 61-33 191-46-56-10-52-30-73-52z')
        path(fill='#2C7D74' d='M93 86c-19-8-21-11-31-30-192 151-376 171-835 96v529c221-86 969-78 1003-10 54 10 45-25 45-25s3-8 26-18c31-14 130-8 161-16 47-36-90-49-130-112-21-13-28-34-25-83-3-19-51-28-57-47 0 0-32-89-50-125-15-17-30-28-30-28-14-9-9-25-26-65-27-13-42-59-42-59s-5-6-9-7z')
        path(fill='#2C7D74' d='M604 568c37-25 81-45 120-97 163-92 345-70 851 112v619H62c207-166 379-410 410-477 7-16 6-29-91-51-20-15-28-23-12-28 20-6 117-22 140-23 5 0 38-7 53-11 28-11 35-22 42-44z')

      g.sun
        path(fill='#FFCD4C' d='M387 93l8 15 15-8-1 16 16 2-10 13 14 10-16 6 6 15-16-3-4 16-12-12-11 12-4-16-16 3 6-15-16-6 13-10-10-13 17-2-1-16 14 8 8-15z')
        circle(cx='387.8' cy='134.4' r='23.7' fill='#FFDB5D')

    .item 
      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero obcaecati amet aliquam porro ipsa fugit expedita, cum quia dolorem unde voluptatem ullam assumenda pariatur excepturi doloribus eos quisquam repudiandae. Ducimus?